 body {
     font-family: Arial, sans-serif;
     padding: 0;
     background-color: white;
 }

 h1 {
    font-size: 3em;
    color: #db9d00;
    margin-top: 60px; /* Remove the space between 20 and px */
    margin-bottom: 0;
    text-align: center; /* Center the text horizontally */
}

.content {
    max-width: 800px;
    margin: 10 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.apartment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
    max-width: 100%;
    min-height: 530px;
    min-width: 1200px;
}
.apartment img {
    max-width: 45%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px;
}
.apartment_details {
    padding: 20px;
}
.apartment_details h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #ff8c00;
    padding-bottom: 10px;
}
.apartment_details p {
    margin: 0;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
.apartment_details p:first-child {
    margin-top: 10px
}

.menu a {
    padding: 20px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
}

.menu a:hover {
    color: #007bff;
}

.owl-carousel {
    margin-top: 20px;
}