body {
   font-family: Arial, sans-serif;
   padding: 0;
   background-color: white;
}

h1 {
   font-size: 3em;
   color: #db9d00;
   margin-top: 60px;
   margin-bottom: 0;
   text-align: center;
}

.content {
   max-width: 800px;
   margin: 10px auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
}

.apartment {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row-reverse;
   background-size: cover;
   border-radius: 30px;
   overflow: hidden;
   max-width: 100%;
   min-height: 530px;
   min-width: 1200px;
}

.apartment img {
   /* max-width: 45%; */
   /* height: auto; */
   height: 304px;
   width: 540px;
   /*border-top-left-radius: 5px;*/
   /*border-top-right-radius: 5px;*/
   border-radius: 40px;
   padding: 20px;
}

.apartment_details {
   padding: 20px;
}

.apartment_details h2 {
   margin-top: 0;
   font-size: 24px;
   color: #333;
   border-bottom: 2px solid #ff8c00;
   padding-bottom: 10px;
}

.apartment_details p {
   margin: 0;
   font-size: 16px;
   color: #666;
   margin-bottom: 10px;
}

.apartment-details i {
   margin-right: 18px;
   /* Adjust the margin as needed */
}


.menu a {
   padding: 20px 10px;
   text-decoration: none;
   font-size: 15px;
   color: #818181;
}

.menu a:hover {
   color: #007bff;
}

.owl-carousel {
   margin-top: 20px;
}

/*.likeBtn-white{*/
/*   border-color: white;*/
/*   background-color: white;*/
/*   color: red;*/
/*}*/

/*.likeBtn-red{*/
/*   border-color: white;*/
/*   background-color: red;*/
/*   color: white;*/
/*}*/

/*#likeBtn:hover{*/
/*   border-color: white;*/
/*   background-color: red;*/
/*   color: white;*/
/*}*/

/*#reserveBtn:hover {*/
/*   color: white;*/
/*   background-color: #db9d00;*/
/*}*/

/*#reserveBtn{*/
/*   border-color: white;*/
/*}*/

/*#cancelResBtn{*/
/*   border-color: white;*/
/*   background-color: #db9d00;*/
/*   color: white;*/
/*}*/

/*#cancelResBtn:hover{*/
/*   border-color: white;*/
/*   background-color: white;*/
/*   color: #db9d00;*/
/*}*/

#buttonContainer {
   display: flex; /* Use flexbox for horizontal alignment */
   gap: 10px; /* Adjust the gap between buttons as needed */
}

.likeBtn-white {
   border-color: white;
   background-color: red; /* Change background color to red */
   color: white; /* Change text color to white */
}

#likeBtn:hover {
   border-color: white;
   background-color: white; /* Change background color on hover to white */
   color: red; /* Change text color on hover to red */
}


#recommendBtn,
#submitRecommendation {
   border-color: white;
   background-color: #4CAF50;
   color: white;
   padding: 10px;
   cursor: pointer;
}

#recommendBtn:hover,
#submitRecommendation:hover {
   background-color: white;
   color:#4CAF50;
   border-color: white;

}

#recommendModal {
   display: none;
}
#reserveBtn {
   border-color: white;
   color: white;
   background-color: #db9d00;
   border-radius: 5px; /* Adjust border-radius as needed */
   padding: 10px 20px; /* Adjust padding as needed */
   cursor: pointer;
}

#reserveBtn:hover {
   background-color: white;
   color: #db9d00;
}

.recommendation-box {
   position: fixed;

   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 300px;
   background-color: white;
   padding: 45px;
   border: 1px solid #ccc;
   border-radius: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   z-index: 1000;
}

.approvementBox-box {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 300px;
   background-color: white;
   padding: 45px;
   border-radius: 20px;
   border: 1px solid #ccc;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   z-index: 1000;
   text-align: center; /* Center the text content */

}

.cancelationBox-box {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 300px;
   background-color: white;
   padding: 45px;
   border-radius: 20px;
   border: 1px solid #ccc;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   z-index: 1000;
   text-align: center; /* Center the text content */
}

.close {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   font-size: 20px;
   color: #555;
}

label {
   display: block;
   margin-bottom: 5px;
}

input,
textarea,
button {
   width: 100%;
   padding: 8px;
   margin-bottom: 10px;
   box-sizing: border-box;
}

/*#recommendBtn,#submitRecommendation {*/
/*   background-color: #4CAF50;*/
/*   color: white;*/
/*   border: none;*/
/*   padding: 10px;*/
/*   cursor: pointer;*/
/*}*/

/*button:hover {*/
/*   background-color: #45a049;*/
/*}*/

#errorBox {
   color: red;
   font-weight: bold;
   text-align: center;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

#errorBox.one-row {
   display: flex;
   justify-content: center;
   align-items: center;
}
