body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
}

.contact_messege {
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.contact_messege p {
    margin: 0;
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

h1 {
    margin-top: 0;
    font-size: 24px;
    color: #dba71a;
    border-bottom: 2px solid #ff8c00;
    padding-bottom: 10px;
}


.menu a {
    padding: 20px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    position: abslute;
    top: 10px;
    left: 0;
}

.menu a:hover {
    color: #007bff;
}
