		body {
		    font-family: Arial, sans-serif;
		}

		.container {
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-direction: column;
		    background-size: cover;
		    border-radius: 30px;
		    overflow: hidden;
		    max-width: 100%;
		    min-height: 530px;
		    min-width: 1200px;
		    margin-top: 60px;
		}

		h1 {
		    font-size: 3em;
		    color: #db9d00;
		    margin-bottom: 0px;
		    display: contents;
		}

		.content {
		    max-width: 1200px;
		    margin: 10 auto;
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		    align-content: center;
		}

		.apartment-box {
			box-sizing: border-box;
			width: calc(33.33% - 20px); /* Change from 50% to 33.33% */
			border: 1px solid #ccc;
			padding: 50px;
			margin: 10px;
			border-radius: 20px; /* Adjust the value to your desired level of roundness */
			text-align: left; /* Center text content within the box */
			overflow: hidden; /* Hide overflow content */
		}

		.apartment-box h3 {
			color: #333;
			font-size: 10px;
			margin-bottom: 20px;
		}

		.apartment-box img {
			max-width: 100%; /* Ensure the image does not exceed the box width */
			height: auto; /* Maintain the aspect ratio of the image */
			margin-top: 10px;
		}


		/*.apartment-box {*/
		/*	box-sizing: border-box;*/
		/*	width: calc(50% - 20px);*/
		/*	border: 1px solid #ccc;*/
		/*	padding: 15px;*/
		/*	margin: 10px;*/
		/*	border-radius: 20px; !* Adjust the value to your desired level of roundness *!*/
		/*}*/


		/*.apartment-box h3 {*/
		/*    color: #333;*/
		/*    font-size: 14px;*/
		/*    margin-bottom: 10px;*/
		/*}*/

		/*.apartment-box img {*/
		/*    height: 232px;*/
		/*    width: 348px;*/
		/*    margin-top: 10px;*/
		/*}*/

		/*.filter-bar {*/
		/*    display: flex;*/
		/*    flex-direction: column;*/
		/*    align-items: center;*/
		/*}*/

		/*#filterForm {*/
		/*	!*display: flex;*!*/
		/*	flex-wrap: wrap;*/
		/*}*/

		.filter-bar {
			box-sizing: border-box;
			width: 60%;
			margin: 0 auto;
			float: right;
		}

		#filterForm label {
			box-sizing: border-box;
			width: 100%;
			margin-bottom: 15px;
			display: block;
		}

		#filterForm input {
			box-sizing: border-box;
			width: calc(20% - 5px); /* Adjusted width to account for padding */
			border: 1px solid #ccc;
			padding: 8px 16px; /* Adjusted padding for height */
			margin: 5px;
			border-radius: 10px;
			transition: background-color 0.3s ease;
			background-color: #ccc;
			display: inline-block;
		}

		#filterForm button {
			margin-top: 5px;
			margin-left: 20px;
			padding: 8px 16px;
			background-color: #007bff;
			color: white;
			border: none;
			border-radius: 10px;
			cursor: pointer;
			transition: background-color 0.3s;
			float: right;
		}

		::placeholder {
		color: #999; /* Adjust the color as needed */
		font-size: 15px;
		font-style: normal; /* You can add more styles as needed */
		font-weight: bold;
		}

		.menu a {
		    padding: 20px 10px;
		    text-decoration: none;
		    font-size: 15px;
		    color: #818181;
		}

		.menu a:hover {
		    color: #007bff;
		}
