 .menu a {
    padding: 20px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
 }

 .menu a:hover {
    color: #007bff;
 }

/* Reset some default styles */
body,
h1,
h2,
ul {
    margin: 0;
    padding: 0;
}

h2 {
    color: #db9d00;
    text-align: center;
    font-size: 2em;

}

/* Basic styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

#profileContainer {
    font-weight: bold;
    max-width: 500px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

#personalDetails {
    margin-bottom: 20px;
}

#editProfileBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#editProfileBtn:hover {
    background-color: #45a049;
}

.editProfileForm {
    display: none;
}

#likedApartments {
    list-style-type: none;
    padding: 0;
}

#likedApartments li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
#editProfileForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px; /* Added rounded borders */
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    text-align: center; /* Center-align text */
    padding: 40px; /* Adjusted padding */

}

#closeEditFormBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
}

/* Add margin-bottom to space out the inputs */
#EditProfile label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    text-align: center; /* Center-align text */
}

#EditProfile input {
    display: block;
    width: 100%; /* Make input width 100% */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center; /* Center-align text */
}

/* Styles for the edit profile button */
#editProfileBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px; /* Move the button back to the box */
}

#editProfileBtn:hover {
    background-color: #45a049;
}

/* Styles for the submit button */
#changeDetails {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#changeDetails:hover {
    background-color: #45a049;
}

.content {
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.apartment-box {
    box-sizing: border-box;
    width: calc(33.33% - 20px); /* Change from 50% to 33.33% */
    border: 1px solid #ccc;
    padding: 50px;
    margin: 10px;
    border-radius: 20px; /* Adjust the value to your desired level of roundness */
    text-align: left; /* Center text content within the box */
    overflow: hidden; /* Hide overflow content */
}

.apartment-box h3 {
    color: #333;
    font-size: 10px;
    margin-bottom: 20px;
}

.apartment-box img {
    max-width: 100%; /* Ensure the image does not exceed the box width */
    height: auto; /* Maintain the aspect ratio of the image */
    width: auto;
    margin-top: 5px;
}
